
<div id="results" class="animated shake" style="background-color:black; color:white"><div>{{name}}</div></div>

{{#each winner}}
<div class="container" style="padding-top:6em;">
    <div class="row">
    <div class="col-3"></div>
    <div class= "col-6 animated shake">{{name}}</div>
    <div class="col-3"></div>
    </div>
</div>
{{/each}}